@media screen and (max-device-width: 800px){
	.bigbox{
		background-color: purple;
		text-align: right;
		width: 550px;
		height: 200px;
	}
}
@media screen and (min-device-width: 801px){
	.bigbox{
		background-color: purple;
		text-align: right;
		width: 750px;
		height: 200px;
	}
}
