<!DOCTYPE html>
<html>
	<body>
		<h1>Ketchup's Modern Revolution</h1>
		<br/>
		<img src="/assets/images/ketchup.jpg"/>
		<br/>
		<p>Ketchup's modern revolution began in 1991 in a small precision-molding shop wedged between a scrapyard and a saloon in Midland, Mich. The key prop in the dingy scene was a molding press that was meant to turn injections of liquid silicone into flexible, one-piece precision valves.</p>

		<p>Paul Brown, the shop's stocky, bullheaded owner, spent his days sitting before the press on a four-legged stool, chain-smoking and rethinking the valves' design.</p>

		<blockquote><i>I would pretend I was silicone and, if I was injected into a mold, what I would do</i></blockquote>

		<p>His vision was a dispensing valve for a new kind of shampoo bottle that could be stored upside down on, say, a tub's edge. The valve had to open easily when squeezed and shut securely when the squeezing stopped. No drips, no leaks — <i>ever</i>.</p>

		<p>Brown and his mold-maker, Tim Socier, came up with a valve that's a little silicone dome with right-angled slits cut in its top. Ketchup extraction was a two step process:</p>

		<ol>
			<li>When the bottle's sides were pressed, the dome's slits opened like flower petals and released the contents.</li>
			<li> When the pressing stopped, the air sucked back into the dome caused it to retract, and the slits to close.</li>
		</ol>

		<p>Brown sat back in his chair and said: "<i>Holy cow, I just hit the jackpot.</i>"</p>
	</body>
</html>