<!doctype html>
<html>
  <head>
    <style type="text/css">
      #map-canvas { width: 300px; height: 300px }
      #div-info {
        width: 400px;
        height: 400px;
        float: right;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript">

      function initialize(position) {
        var mapOptions = {
          center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
          zoom: 10
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        google.maps.event.addListener(map, 'mouseup', function(pt) {
          console.log(pt)
          console.log(document)
          document.getElementById("point").innerHTML = "The lattitude/longitude of the point clicked is "+pt.latLng.toString()
          var request = new XMLHttpRequest()
          request.open("GET", "http://cis228.herokuapp.com/api/ietf/distance?lat="+pt.latLng.lat()+"&lon="+pt.latLng.lng())
          request.onload = function(){
            document.getElementById("distance").innerHTML = "The distance between the point clicked and the IETF headquarters is "+request.responseText+" miles"
          }
          request.send()
        });
      }
      navigator.geolocation.getCurrentPosition(initialize)
    </script>
  </head>
  <body>
    <h1>Assignment 5</h1>
    <hr/>
    <div id="div-info">
      <p id="point"></p>
      <p id="distance"></p>
    </div>
    <div id="map-canvas">getting location...</div>
  </body>
</html>