<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body style="margin-bottom: 30px;">
	<p><span style="font-weight: bold;">Submission instructions: </span> email me at <a href="mailto:joshua.rogers.cuny@@gmail.com">joshua.rogers.cuny@@gmail.com</a> the link to your website hosting the particular assignment</p>
	<p><b>Late Penalty: </b>For each day that the assignment is late, the total grade will be reduced by 10%</p>
	<p>Solutions will be posted one week after the due date</p>
	<br/>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Assignment</th>
				<th>Assigned Date</th>
				<th>Due Date</th>
				<th>Solutions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/assets/quizzes/spring2014/quiz1.html">Quiz 1</a></td>
				<td>February 4</td>
				<td>February 4</td>
			</tr>
			<tr>
				<td><a href="#a1">Project 1</td>
				<td>February 4</td>
				<td>February 11</td>
				<td><a href="/spring2014/assignments?assignment=1">Solution</a></td>
			</tr>
			<tr>
				<td><a href="/assets/quizzes/spring2014/quiz2.html">Quiz 2</a></td>
				<td>February 11</td>
				<td>February 11</td>
			</tr>
			<tr>
				<td><a href="/assets/quizzes/spring2014/quiz3.html">Quiz 3</a></td>
				<td>February 18</td>
				<td>February 18</td>
			</tr>
			<tr>
				<td><a href="#ica1">In-Class Assignment 1</a></td>
				<td>February 18</td>
				<td>February 18</td>
			</tr>
			<tr>
				<td><a href="#a2">Project 2</a></td>
				<td>February 18</td>
				<td>February 25</td>
			</tr>
		</tbody>
	</table>
	<h2 id="a1">Assignment 1</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 1 image as closely as possible</p>
		<p>Resources:</p>
		<ul>
			<li><a href="/assets/images/assignment1_screenshot.png">Assignment 1 image</a></li>
			<li><a href="/assets/images/ketchup.jpg">Ketchup image</a></li>
		</ul>
	</div>
	<h2 id="ica1">In-Class Assignment 1</h2>
	<div style="margin-left: 30px;">
		<p>add an image as a background to a div and embed text in the div resulting in text to appear on the image</p>
	</div>
	<h2 id="a2">Assignment 2</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 2 image as closely as possible</p>
		<p>refer to assignment 2 markup to get a better idea of what the css rules should be</p>
		<p>**Bonus** Make the purplish bordered box around the text have rounded corners</p>
		<p>Resources:</p>
		<ul>
			<li><a href="/assets/images/fall2013_assignment1.png">Assignment 2 image</a></li>
			<li><a href="/assets/images/fall2013_assignment1-with-markup.jpg">Assignment 2 with markup</a></li>
			<li><a href="/assets/images/mosquito.jpg">Mosquito image</a></li>
		</ul>
	</div>
</body>
</html>