<!DOCTYPE html>

<html>
    <head>
        <title>Class Notes</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/notes.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
        <script src="javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    </head>
    <body>
    	<h1>Class Notes</h1>
        <ul>
            <li>
                <a href="/assets/classes/spring2014/1_30_2014/notes.html">1/30/2014</a>connect to ftp, more intro, attributes
            </li>
            <li>
                <a href="/assets/classes/spring2014/2_4_2014/notes.html">2/4/2014</a>relative links and colors</li>
            <li>
                <a href="/assets/classes/spring2014/2_6_2014/notes.html">2/6/2014</a>colors, fonts, css, css classes, linking css files
            </li>
            <li><a href="/assets/classes/spring2014/2_11_2014/notes.html">2/11/2014</a>custom font styles</li>
            <li>
                <a href="/assets/classes/spring2014/2_13_2014/notes.html">2/13/2014</a>borders, rounded corners, gradients
            </li>
            <li>
                <a href="/assets/classes/spring2014/2_18_2014/notes.html">2/18/2014</a>image as background, text-align, span, borders, rounded corners
            </li>
            <li>
                <a href="/assets/classes/spring2014/2_25_2014/notes.html">2/25/2014</a>review of padding and margin. pseudo-classes. specificity. tables
            </li>
            <li>
                <a href="/assets/classes/spring2014/2_27_2014/notes.html">2/27/2014</a>float and clear
            </li>
            <li>
                <a href="/assets/classes/spring2014/3_4_2014/notes.html">3/4/2014</a>static, relative, absolute, fixed
            </li>
            <li><a href="/assets/classes/spring2014/3_6_2014/notes.html">3/6/2014</a>absolute inside a relative layout. media queries (different css depending on screen size). css tables. <a href="/assets/classes/spring2014/3_6_2014/intro_js.html">intro to js</a></li>
            <li>
                <a href="/assets/class/spring2014/3_11_2014/intro_function_passing.html">3/11/2014 review and function passing</a><br/>
                <a href="/assets/classes/spring2014/3_11_2014/notes.html">3/11/2014 Notes</a>html+javascript
            </li>
            <li>
                <a href="/assets/class/spring2014/3_13_2014/notes.html">3/13/2014 Notes</a>  Buttons
            </li>
        </ul>
    </body>
</html>
