.phover p:hover{
	color: green;
}
.div1{
	border-style: solid;
	border-width: 2px;
	width: 300px;
	margin: 5px;
}
.div2{
	border-style: solid;
	border-width: 2px;
	width: 300px;
	margin: 5px;
	float: right;
}
.div3{
	border-style: solid;
	border-width: 2px;
	width: 300px;
	margin: 5px;
	clear: right;
}
.div4{
	border-style: solid;
	border-width: 2px;
	width: 300px;
	margin: 5px;
	float: right;
}
.centering{
	border-style: solid;
	border-width: 2px;
	width: 300px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
}