<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body style="margin-bottom: 30px;">
	<p><span style="font-weight: bold;">Submission instructions: </span> email me at <a href="mailto:joshua.rogers.cuny@@gmail.com">joshua.rogers.cuny@@gmail.com</a> the link to your website hosting the particular assignment</p>
	<p>Solutions will be posted one week after the due date</p>
	<br/>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Assignment</th>
				<th>Assigned Date</th>
				<th>Due Date</th>
				<th>Solutions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="#a1">Assignment 1 (In-class)</a></td>
				<td>2/5/2015</td>
				<td>2/5/2015</td>
			</tr>
			<tr>
				<td><a href="#a2">Assignment 2</td>
				<td>February 10</td>
				<td>February 24</td>
			</tr>
		</tbody>
	</table>
	<div id="a1">
		<h2>Assignment 1:</h2>
		Write a javascript program which prints your name 20 times to the console
	</div>
	<h2 id="a2">Assignment 2</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 2 image as closely as possible</p>
		<p>Resources:</p>
		<ul>
			<li><a href="/assets/images/assignment1_screenshot.png">Assignment 2 image</a></li>
			<li><a href="/assets/images/ketchup.jpg">Ketchup image</a></li>
		</ul>
	</div>
</body>
</html>