<!DOCTYPE html>
<html lang="en">
<head>
  <title>CIS 228 syllabus</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link type="text/css" rel="stylesheet" href="assets/stylesheets/main.css">
</head>
<body>

<div id="title">
  <h1>
    <a href="http://www.lehman.edu/undergraduate-bulletin/cis228theinternet.htm" title="CIS 228">
      CIS 228, The Internet
    </a>
  </h1>
</div>

<div id="instructor">
  <h2>Instructor</h2>
  <p>
    <b>Joshua Rogers</b><br/>
    email: <a href="mailto:joshua.rogers.cuny@@gmail.com">joshua.rogers.cuny@@gmail.com</a><br>
    office hours: Mon,Wed: 1-2:30pm G 101A
  </p>
</div>

<div id="objectives">
  <h2>Course Objectives</h2>
  <p>
    This course will enable the student to create high quality websites 
    using HyperText Markup Language (HTML) and Cascading Style Sheets (CSS).
    It will also provide an introduction to using JavaScript to make dynamic web pages.
  </p>
  <p>See also <a href="assets/objectives.txt" title="objectives">objectives.txt</a>.</p>
</div>

<div id="hours">
  <h2>Course hours: 1 - 2:40 pm, Tuesdays and Thursdays</h2>
  <p>
    This is a three credit course.
    You should expect to spend <em>at least</em> five hours per week outside of class on this course.
  </p>
  <h3>Tardiness policy</h3>
  <p>
    I expect students to be on time for class.  
    Some classes will begin with a quiz.  If you are not present, you will fail the quiz.
  </p>
</div>

<div id="texts">
<h2>Texts</h2>
<ol>
  <li>
    <p>
      <em>HTML, CSS, and XML 4th Edition</em><br/>
      Author: Patrick Carey<br/>
      ISBN-13: 978-1285059099  ISBN-10: 1285059093
    </p>
  </li>
</ol>
</div>

<div class="grading">
  <h2>Grading policy</h2>
  <ul>
    <li>Quizzes count for 10% of your grade</li>
    <li>In-class Assignments count for 10% of your grade</li>
    <li>Assignments will count for 40% of your grade</li>
    <li>Midterm: 20%</li>
    <li>The final exam will count for 20% of your grade</li>
  </ul>
</div>
<h2><a href="/websiteinstr">Connect to your Website</a></h2>
<h2><a href="assets/resources.html">Resources</a></h2>
<h2><a href="/spring2015/notes">Class Notes</a></h2>
<h2><a href="/spring2015/assignments">Assignments</a></h2>
<h2>Approximate Schedule:</h2>
<ul>
  <li>1/28 - introduction to web development</li>
  <li>1/30 - intro to HTML, headers, p tags</li>
  <li>2/4 - HTMl elements and attributes. anchor and image tags. </li>
  <li>2/6 - lists, quotes, bold, italic</li>
  <li>2/11 - Hexadecimal, RGB (Red,Green,Blue - the primary colors) - Ref: HFHTMLCSS ch.8</li>
  <li>2/13 - borders, margins, padding, divs, gradients (continuing from colors in previous class) - Ref: HFHTMLCSS ch.9</li>
  <li>2/18 - Divs Cont. width and height, background-image, rounded corners, text-align, id's, line-height - Ref: HFHTMLCSS ch.9 and 10</li>
  <li>2/25 - spans, pseudo-classes - Ref: HFHTMLCSS ch.10</li>
  <li>2/27 - layout, positioning, pseudo-classes, specificity - Ref: HFHTMLCSS ch.10 and 11</li>
  <li>3/4 - other positioning strategies - Ref: HFHTMLCSS ch. 11</li>
  <li>3/6 - HTML 5 elements and media queries - Ref: HFHTMLCSS ch.12 (end of ch.9 for media queries)</li>
  <li>3/11 - absolute embedded within relative positioning and intro to javascript. Ref: HFHTML5 ch. 2</li>
  <li>3/13 - intro to javascript</li>
  <li>3/18 - intro to javascript</li>
  <li>3/20 - intro to javascript</li>
  <li>3/25 - javascript dom - Ref: HFHTML ch. 2 + ch. 3</li>
  <li>3/27 - javascript dom cont. - Ref HFHTML ch. 2 p. 66</li>
  <li>4/1 - location tracking- Ref HFHTML ch. 5</li>
  <li>4/3 - javascript review</li>
  <li>4/8 - javascript review</li>
  <li>4/10 - setting up a server</li>
  <li>4/24 - client-server communication - Ref HFHTML ch. 6</li>
  <li>4/29 - client-server communication - Ref HFHTML ch. 6</li>
  <li>5/1 - TBD</li>
  <li>5/6 - TBD</li>
  <li>5/8 - TBD</li>
  <li>5/13 - Review</li>
  <li>5/15 - Final Exam</li>
</ul>


