<!DOCTYPE html>

<html>
    <head>
        <title>Class Notes</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/notes.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
        <script src="javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    </head>
    <body>
    	<h1>Class Notes</h1>
        <ul>
            <li>
                <a href="/assets/classes/spring2015/1_29_2015/notes.html">1/29/2014</a>connect to ftp
            </li>
            <li><a href="/assets/classes/spring2015/2_3_2015/notes.html">2/3/2015</a>html basics</li>
            <li><a href="/assets/classes/spring2015/2_5_2015/notes.html">2/5/2015</a>intro to javascript and the color wheel</li>
        </ul>
    </body>
</html>
