<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body style="margin-bottom: 30px;">
	<p><span style="font-weight: bold;">Submission instructions: </span> email me at <a href="mailto:joshua.rogers.cuny@@gmail.com">joshua.rogers.cuny@@gmail.com</a> the link to your website hosting the particular assignment</p>
	<p><b>Late Penalty: </b>For each day that the assignment is late, the total grade will be reduced by 10%</p>
	<p>Solutions will be posted one week after the due date</p>
	<br/>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Assignment</th>
				<th>Assigned Date</th>
				<th>Due Date</th>
				<th>Solutions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="assets/quizzes/quiz1.html">Quiz 1</a></td>
				<td>October 22</td>
				<td>October 22</td>
			</tr>
			<tr>
				<td><a href="#a1">Assignment 1</a></td>
				<td>October 22</td>
				<td>October 31</td>
				<td><a href="/assignments?assignment=1">Solution</a></td>
			</tr>
			<tr>
				<td>Labs 1-9</td>
				<td>October 17</td>
				<td>November 5</td>
			</tr>
			<tr>
				<td><a href="#a2">Assignment 2</a></td>
				<td>October 29</td>
				<td>November 7</td>
				<td><a href="/assignments?assignment=2">Solution</a></td>
			</tr>
			<tr>
				<td><a href="assets/quizzes/quiz2.html">Quiz 2</a></td>
				<td>October 31</td>
				<td>October 31</td>
			</tr>
			<tr>
				<td><a href="#a3">Assignment 3</a></td>
				<td>November 5</td>
				<td>November 12</td>
				<td><a href="/assignments?assignment=3">Solution</a></td>
			</tr>
			<tr>
				<td><a href="/assets/quizzes/quiz3.html">Quiz 3</a></td>
				<td>November 12</td>
				<td>November 12</td>
			</tr>
			<tr>
				<td><a href="#a4">Assignment 4</a></td>
				<td>November 14</td>
				<td>November 28</td>
			</tr>
			<tr>
				<td><a href="/assets/quizzes/quiz4.html">Quiz4</a></td>
				<td>November 19</td>
				<td>November 19</td>
			</tr>
			<tr>
				<td><a href="/assets/quizzes/quiz5.html">Quiz 5</a></td>
				<td>Decemer 5</td>
				<td>December 5</td>
			</tr>
			<tr>
				<td>Final Exam</td>
				<td>December 12</td>
				<td>December 12</td>
			</tr>
			<tr>
				<td><a href="#a5">Assignment 5</a></td>
				<td>December 9</td>
				<td>December 21</td>
			</tr>
		</tbody>
	</table>
	<h2 id="a1">Assignment 1</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 1 image as closely as possible</p>
		<p>refer to assignment 1 markup to get a better idea of what the css rules should be</p>
		<p>**Bonus** Make the purplish bordered box around the text have rounded corners</p>
		<p>Resources:</p>
		<ul>
			<li><a href="assets/images/assignment1.png">Assignment 1 image</a></li>
			<li><a href="assets/images/assignment1-with-markup.jpg">Assignment 1 with markup</a></li>
			<li><a href="assets/images/mosquito.jpg">Mosquito image</a></li>
		</ul>
	</div>
	<h2 id="a2">Assignment 2</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 2 image as closely as possible</p>
		<p>refer to assignment 2 markup to get a better idea of what the css rules should be</p>
		<p>Resources:</p>
		<ul>
			<li><a href="assets/images/assignment2.png">Assignment 1 image</a></li>
			<li><a href="assets/images/assignment2_markup.jpg">Assignment 1 with markup</a></li>
			<li><a href="assets/images/mountain.png">Mountain image</a></li>
			<li><a href="assets/images/stick_figure.png">observer image</a></li>
			<li><a href="http://www.rafimoor.com/english/SRE.htm#The Relativity of Simultaneity">observer site link</a></li>
		</ul>
	</div>
	<h2 id="a3">Assignment 3</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 3 image and description as closely as possible</p>
		<p>refer to assignment 3 markup to get an idea of the placements of objects and spacing should be</p>
		<p><b>Description: </b> The green block (spaceship) should stay at the top of the page when scrolling down. The purple blocks (asteroids) should stay stationary while the spaceship is moving past them. It should end (land) behind the table with two columns (landing pad).
		<ul>
			<li><a href="assets/images/assignment3.png">Assignment 3 image</a></li>
			<li><a href="assets/images/assignment3_markup.jpg">Assignment 3 with markup</a></li>
		</ul>
	</div>
	<h2 id="a4">Assignment 4</h2>
	<hr/>
		<b>**Update** Assignment 4 due date extended 1 week. Those who have already submitted on time will get 20 bonus points on top of their current score. However if you re-submit, you will lose the bonus points</b>
	<hr/>
	<div style="margin-left: 30px">
		<p>create an html page which contains the following text</p>
		<blockquote><i>	
			You are alone in a room.
			You are staring at your blank computer screen.
			Suddenly text appears. It says "Do not look behind you". You turn to look</i>
		</blockquote>
		<p>And then has a button with quotes "Look back at the screen"</p>
		<p>When the button is clicked text is generated on the screen that says:</p>
		<blockquote><i>The screen says, 'DO NOT LOOK BEHIND YOU'. You turn to look again</i></blockquote>
		<p>When you click the button again, text is again added to the screen which says:</p>
		<blockquote><i>The screen now says, 'I warned you. You should have listened.' Now you hear an awful sound behind you</i></blockquote>
		<p>The text on the button changes to 'Look behind you.' When you click the button, the button disappears and text is again added that says: </p>
		<blockquote><i>The creature appears. It is to late.</i></blockquote>
	</div>
	<h2 id="a5">Assignment 5</h2>
	<hr/>
	<p>This program will allow you to click on a map and get the distance between that point and the ietf headquarters</p
	<ol>
		<li>
			<p>First follow the google maps api instructions to initialize a map. Sample code can be seen <a href="https://developers.google.com/maps/documentation/javascript/tutorial#The_Hello_World_of_Google_Maps_v3">here</a>. Below is a screenshot</p>
			<img src="/assets/images/assign5pt1.jpg" height="300"/>
		</li>
		<li>
			<p>When the map is clicked on you will be able to get the latitude/longitude of the location clicked via the 'mouseup' event listener. For example:</p>
			<pre>google.maps.event.addListener(map, 'mouseup', 
				function(pt){
					//add code here
				});
			</pre>
			<p>Where 'map' is the maps object you created in the first part, 'mouseup' is the event, and 'function(pt)...' is the event handler passed in.</p>
			<p>You can find the documentation for event listeners <a href="https://developers.google.com/maps/documentation/javascript/reference#event">here</a>.</p>
		</li>
		<li>
			<p>Within the 'mouseup' event handler (the 'add code here' part), you will manipulate the dom so that two pieces of information show up to the right of the map.</p>
			<ol>
				<li>The latitude and longitude of the mouse point clicked</li>
				<li>The distance from that location clicked to the IETF headquarters</li>
			</ol>
			<p>You can get the distance from the IETF headquarters in two different ways.</p>
			<ol>
				<li>(Not preferred way)Find the location of the IETF headquarters and use the haversine distance formula to calculate the distance between two points</li>
				<li>
					<p>(preferred way)Use an AJAX request to http://cis228.herokuapp.com/api/ietf/distance to get the distance as the response.</p>
					<p>For example, If you wanted to calculate the distance between the ietf headquarters and the location (in lat/long) (40.979027939585436, -73.89541625976562) the request url would be 'http://cis228.herokuapp.com/api/ietf/distance?lat=40.979027939585436&amp;lon=-73.89541625976562' (you can try it out in your browser)</p>
				</li>
			</ol>
		</li>
		<li>
			<p>The end result should look something like this:</p>
			<img src="/assets/images/assign5pt2.jpg" height="300" />
		</li>
		<li>
			<b>*Bonus*</b>When the map loads, have the initial location set to your current location (hint: use navigator.geolocation)
		</li>
	</ol>
</body>
</html>