<!DOCTYPE html>
<html>
<head>
	<title>Assignments</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body style="margin-bottom: 30px;">
	<p><span style="font-weight: bold;">Submission instructions: </span> email me at <a href="mailto:joshua.rogers.cuny@@gmail.com">joshua.rogers.cuny@@gmail.com</a> the link to your website hosting the particular assignment</p>
	<p><b>Late Penalty: </b>For each day that the assignment is late, the total grade will be reduced by 10%</p>
	<p>Solutions will be posted one week after the due date</p>
	<br/>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Assignment</th>
				<th>Assigned Date</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="assets/quizzes/quiz1.html">Quiz 1</a></td>
				<td>October 22</td>
				<td>October 22</td>
			</tr>
			<tr>
				<td><a href="#a1">Assignment 1</a></td>
				<td>October 22</td>
				<td>October 31</td>
			</tr>
			<tr>
				<td>Labs 1-9</td>
				<td>October 17</td>
				<td>November 5</td>
			</tr>
			<tr>
				<td><a href="#a2">Assignment 2</a></td>
				<td>October 29</td>
				<td>November 5</td>
			</tr>
			<tr>
				<td><a href="assets/quizzes/quiz2.html">Quiz 2</a></td>
				<td>October 31</td>
				<td>October 31</td>
			</tr>
			<tr>
				<td><a href="#a3">Assignment 3</a></td>
				<td>November 5</td>
				<td>November 12</td>
			</tr>
		</tbody>
	</table>
	<h2 id="a1">Assignment 1</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 1 image as closely as possible</p>
		<p>refer to assignment 1 markup to get a better idea of what the css rules should be</p>
		<p>**Bonus** Make the purplish bordered box around the text have rounded corners</p>
		<p>Resources:</p>
		<ul>
			<li><a href="assets/images/assignment1.png">Assignment 1 image</a></li>
			<li><a href="assets/images/assignment1-with-markup.jpg">Assignment 1 with markup</a></li>
			<li><a href="assets/images/mosquito.jpg">Mosquito image</a></li>
		</ul>
	</div>
	<h2 id="a2">Assignment 2</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 2 image as closely as possible</p>
		<p>refer to assignment 2 markup to get a better idea of what the css rules should be</p>
		<p>Resources:</p>
		<ul>
			<li><a href="assets/images/assignment2.png">Assignment 1 image</a></li>
			<li><a href="assets/images/assignment2_markup.jpg">Assignment 1 with markup</a></li>
			<li><a href="assets/images/mountain.png">Mountain image</a></li>
			<li><a href="assets/images/stick_figure.png">observer image</a></li>
			<li><a href="http://www.rafimoor.com/english/SRE.htm#The Relativity of Simultaneity">observer site link</a></li>
		</ul>
	</div>
	<h2 id="a3">Assignment 3</h2>
	<div style="margin-left: 30px;">
		<p>create an html page with css rules to resemble Assignment 3 image and description as closely as possible</p>
		<p>refer to assignment 3 markup to get an idea of the placements of objects and spacing should be</p>
		<p><b>Description: </b> The green block (spaceship) should stay at the top of the page when scrolling down. The purple blocks (asteroids) should stay stationary while the spaceship is moving past them. It should end (land) behind the table with two columns (landing pad).
		<ul>
			<li><a href="assets/images/assignment3.png">Assignment 3 image</a></li>
			<li><a href="assets/images/assignment3_markup.jpg">Assignment 3 with markup</a></li>
		</ul>
	</div>
</body>
</html>