<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			.train{
				position: absolute;
				left:0px;
				top: 310px;
			}
			.train p{
				float:left;
				color: gray;
			}
			.train p:hover{
				color: black;
			}
			div#mountain{
				position: absolute;
				background: url(/assets/images/mountain.png);	
				width: 300px;
				height: 300px;
				right: 230px;
				top: 150px;
				background-repeat: no-repeat;
			}
		</style>
	</head>
	<body>
		<h1>Assignment 2</h1>

		<div class="train">
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>choo!&nbsp;</p>
			<p>splat!</p>
		</div>
		<div id="mountain"></div>
		<p>Observing a train <span style="font-style: italic; font-size: 2em;">crash</span>
	</body>
</html>