<!DOCTYPE html>
<html lang="en">
<head>
  <title>CIS 228 syllabus</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link type="text/css" rel="stylesheet" href="assets/stylesheets/main.css">
</head>
<body>

<div id="title">
  <h1>
    <a href="http://www.lehman.edu/undergraduate-bulletin/cis228theinternet.htm" title="CIS 228">
      CIS 228, The Internet
    </a>
  </h1>
</div>

<div id="instructor">
  <h2>Instructor</h2>
  <p>
    <b>Joshua Rogers</b><br/>
    email: <em>joshua.rogers@@lc.cuny.edu</em> or <em>joshua.rogers.cuny@@gmail.com</em><br>
    office hours: TBA
  </p>
</div>

<div id="objectives">
  <h2>Course Objectives</h2>
  <p>
    This course will enable the student to create high quality websites 
    using HyperText Markup Language (HTML) and Cascading Style Sheets (CSS).
    It will also provide an introduction to using JavaScript to make dynamic web pages.
  </p>
  <p>See also <a href="objectives.txt" title="objectives">objectives.txt</a>.</p>
</div>

<div id="hours">
  <h2>Course hours: 11 - 12:40 pm, Tuesdays and Thursdays</h2>
  <p>
    This is a three credit course.
    You should expect to spend <em>at least</em> five hours per week outside of class on this course.
  </p>
  <h3>Tardiness policy</h3>
  <p>
    I expect students to be on time for class.  
    Some classes will begin with a quiz.  If you are not present, you will fail the quiz.
  </p>
  <h3>Talking in class</h3>
  <p>
    During the lab, it is okay to talk quietly with your neighbor if you need information to do the lab.  
    Please don't talk while I am lecturing.
  </p>
</div>

<div id="texts">
<h2>Texts</h2>
<ol>
  <li>
    <p>
      <em>Head First HTML and CSS, Second Edition</em>,
      Freeman and Freeman, O'Reilly (<strong>HFHTMLCSS</strong>)
<!--
      <br> booksite:
      <a href="http://wickedlysmart.com/2012/head-first-html-css/" title="HeadFirst HTML and CSS, Second Edition">
        http://wickedlysmart.com/2012/head-first-html-css/
      </a>
-->.
    </p>
  </li>
  <li>
    <p>
      <em>Head First HTML5 Programming: Building Web Apps with JavaScript</em>,
      Freeman and Robson, O'Reilly (<strong>HFHTML5</strong>)
<!--
      <br> booksite: 
      <a href="http://wickedlysmart.com/2011/head-first-html5/" title="HeadFirst HTML5">
        http://wickedlysmart.com/2011/head-first-html5/
      </a>
-->.
  </li>
</ol>
</div>

<div class="grading">
  <h2>Grading policy</h2>
  <p>
    There will be two in-class exams and a final.
    Each of these will count for 25% to 30% of your grade.
    The remainder will be your labs, your blog, homework, quizzes, an ongoing <q>About Me</q> project, and a class summary.
  </p>
</div>

<h2><a href="students/accounts.html">Student Web Pages</a></h2>

<h2><a href="resources/index.html">Resources</a></h2>

<div>
<h2>Tentative Course Calander</h2>
<table>
    <tr>
      <th>Tuesday</th>
      <th>Thursday</th>
    </tr>
    <tr>
      <td>1/29 <a href="assets/classes/1.html" title="html" class="class">HTML</a></td>
      <td>1/31 <a href="assets/classes/2.html" title="hypertext" class="class">Hypertext</a></td>
    </tr>
    <tr>
      <td>2/5  <a href="assets/classes/3.html" title="web page construction" class="class">Web page construction</a></td>
      <td>2/7  <a href="assets/classes/4.html" title="your website" class="class">Creating your website</a></td>
    </tr>
    <tr>
      <td>2/12 <span class="skip">NO CLASS</span> </td>
      <td>2/14 <a href="assets/classes/5.html" title="images" class="class">Images</a></td>
    </tr>
    <tr>
      <td>2/19 <a href="assets/classes/6.html" title="standards" class="class">Standards</a></td>
      <td>2/21 <a href="assets/classes/7.html" title="exam" class="exam">Exam 1</a></td>
    </tr>
    <tr>
      <td>2/26 <a href="assets/classes/8.html" title="css" class="class">CSS</a></td>
      <td>2/28 <a href="assets/classes/9.html" title="fonts and colors" class="class">Fonts</a></td>
    </tr>
    <tr>
      <td>3/5  <a href="assets/classes/9.html" title="fonts and colors" class="class">Colors</a></td>
      <td>3/7  <a href="assets/classes/10.html" title="box model" class="class">The box model</a></td>
    </tr>
    <tr>
      <td>3/12 <a href="assets/classes/11.html" title="divs and spans" class="class">Divs</a></td>
      <td>3/14 <a href="assets/classes/11.html" title="divs and spans" class="class">Spans</a></td>
    </tr>
    <tr>
      <td>3/19 <a href="assets/classes/12.html" title="layout and positioning" class="class">Layout</a></td>
      <td>3/21 <a href="assets/classes/12.html" title="layout and positioning" class="class">Positioning</a></td>
    </tr>
    <tr>
      <td>3/26 <span class="skip">NO CLASS</span></td>
      <td>3/28 <span class="skip">NO CLASS</span></td>
    </tr>
    <tr>
      <td>4/2  <span class="skip">NO CLASS</span></td>
      <td>4/4  <a href="assets/classes/13.html" title="html 5" class="class">HTML5 Elements</a></td>
    </tr>
    <tr>
      <td>4/9  <a href="assets/classes/14.html" title="tables" class="class">Tables</a></td>
      <td>4/11 <a href="assets/classes/14.html" title="tables" class="class">more Tables</a></td>
    </tr>
    <tr>
      <td>4/16 <a href="assets/classes/15.html" title="forms" class="class">Forms</a></td>
      <td>4/18 <a href="assets/classes/15.html" title="forms" class="class">more Forms</a></td>
    </tr>
    <tr>
      <td>4/23 <a href="" title="review" class="class"></a>Review</td>
      <td>4/25 <a href="assets/classes/17.html" title="exam" class="exam">Exam 2</a></td>
    </tr>
    <tr>
      <td>4/30 <a href="assets/classes/18.html" title="JavaScript" class="class">HTML 5 and JavaScript</a></td>
      <td>5/2  <a href="assets/classes/19.html" title="JavaScript" class="class">Basic JavaScript</a></td>
    </tr>
    <tr>
      <td>5/7  <a href="assets/classes/20.html" title="JavaScript" class="class">JavaScript Events</a></td>
      <td>5/9  <a href="assets/classes/21.html" title="JavaScript" class="class">JavaScript Functions</a></td>
    </tr>
    <tr>
      <td>5/14 <a href="assets/classes/22.html" title="JavaScript" class="class">JavaScript Objects</a></td>
      <td>5/16 <a href="assets/classes/23.html" title="Review" class="class"></a>Review</td>
    </tr>

    <tr>
      <td></td>
      <td>5/23 8:30 am <strong><span class="exam" class="exam">FINAL EXAM</a></strong></td>
    </tr>

</table>
</div>
