<!DOCTYPE html>

<html>
    <head>
        <title>Class Notes</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/notes.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
        <script src="javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    </head>
    <body>
    	<h1>Class Notes</h1>
        <ul>
            <li>
                <a href="#108">Colors</a> Hexadecimal, RGB (Red,Green,Blue - the primary colors) - Ref: HFHTMLCSS ch.8
            </li>
            <li>
                <a href="#1010">The Box Model</a> borders, margins, padding, divs, gradients (continuing from colors in previous class) - Ref: HFHTMLCSS ch.9
            </li>
            <li>
                <a href="#1017">Divs Cont.</a> width and height, background-image, rounded corners, text-align, id's, line-height - Ref: HFHTMLCSS ch.9 and 10
            </li>
            <li>
                <a href="#1022">Spans</a> spans, pseudo-classes - Ref: HFHTMLCSS ch.10
            </li>
            <li>
                <a href="#1024">Layout</a>layout, positioning, pseudo-classes, specificity - Ref: HFHTMLCSS ch.10 and 11
            </li>
            <li>
                <a href="#1029">More positioning</a>other positioning strategies - Ref: HFHTMLCSS ch. 11
            </li>
            <li>
                <a href="#1031">HTML 5 elements and media queries</a> Ref: HFHTMLCSS ch.12 (end of ch.9 for media queries)
            </li>
            <li>
                <a href="/assets/classes/115/1152013.html">11/5/2013</a> absolute embedded within relative positioning and intro to javascript. Ref: HFHTML5 ch. 2
            </li>
            <li>
                <a href="/assets/classes/1112/11122013.html">11/12/2013</a> javascript dom - Ref: HFHTML ch. 2 + ch. 3
            </li>
            <li>
                <a href="/assets/classes/1114/11142013.html">11/14/2013</a>
                javascript dom cont. - Ref HFHTML ch. 2 p. 66
            </li>
        </ul>

    	<h2 id="108">10/8/2013</h2>
    	<p style="color: #0000ff;">colors</p>
    	<p style="color: #00ff00;">colors</p>
    	<p style="color: #ff0000;">colors</p>
    	<p style="color: rgb(0,0,255);">colors</p>
    	<p style="color: rgb(0,255,0);">colors</p>
    	<p style="color: rgb(255,0,0);">colors</p>
    	<hr/>
    	<h2 id="1010">10/10/2013</h2>
    	<h4>borders</h4>
    	<p class="solid-border-blue">i have blue a border</p>
    	<p class="dotted-border-red">i have a border</p>
    	<p class="dotted-solid-border-green">i have a border</p>
    	<h4>Padding and Margins</h4>
    	<p class="solid-border-blue-padding">i have a padded border</p>
    	<p class="dotted-border-blue-margin">i have a margin border</p>
    	<h4>divs</h4>
    	<div class="solid-border-blue">
    		<p>i have a blue border</p>
    		<p>i have a blue border</p>
    	</div>
    	<h4>gradients</h4>
    	<div class="linearBg2">
    		<p>i have a blue border</p>
    		<p>i have a blue border</p>
    	</div>	
        <h2 id="1017">10/17/2013</h2>
        <p>standard background image with repetition</p>
        <div class="birdhair"></div>
        <p>text overlayed on background</p>
        <div class="manatee">
            <p>That's a big fat manatee</p>
        </div>
        <p>cropped image of manatee</p>
        <div class="manatee-cropped"></div>
        <p>smaller image of manatee</p>
        <img src="assets/images/manatee-small.jpg" width="200px" height="200px" />
        <p>rounded corners</p>
        <div class="solid-border-blue-rounded">
            <p>i have a blue border</p>
            <p>i have a blue border</p>
        </div>
        <p>text align center</p>
        <div class="manatee centered-text">
            <p>That's a big fat manatee</p>
        </div>
        <p>illustrating the use of id's in css <span style="font-style: italic;">remember that id's must be unique identifier for an element</span></p>
        <div id="centered-text" class="manatee">
            <p>That's a big fat manatee</p>
        </div>
        <h2 id="1022">10/22/2013</h2>
        <b>Spans</b>
        <p>first with styles</p>
        <p>regular p tag</p>
        <p>king arthas</p>
        <p>p tag with styling</p>
        <p style="color: blue">king arthas</p>
        <p>p tag with styling and span</p>
        <p style="color: blue"><span style="color: red">king</span> arthas</p>
        <p style="color: blue">king <span style="color: red">arthas</span></p>
        <b>pseudo-classes</b><br/><br/>
        <div class="alink">
            <a href="">something</a>
        </div>
        <h2 id="1024">10/24/2013</h2>
        <b>Layouts</b>
        <div class="phover">
            <p>blah blah blah</p>
        </div>
        <a href="assets/classes/specificity.html">Specificity</a>
        <p>Layouts and positioning</p>
        <div class="div2">
            PBR&amp;B nostrud plaid qui squid nulla. Flannel officia eiusmod Austin you probably haven't heard of them 90's Pinterest fixie keytar art party, nulla post-ironic stumptown cardigan. Reprehenderit distillery aliqua, forage quinoa selfies consectetur biodiesel High Life. Placeat mixtape organic irony, 8-bit mlkshk meggings trust fund fashion axe keffiyeh. Labore placeat meh, cillum vegan chambray chia vero Schlitz leggings. Adipisicing fugiat nulla locavore, Shoreditch selfies Austin proident tousled roof party laboris scenester put a bird on it XOXO Brooklyn. Pinterest proident fingerstache messenger bag photo booth.
        </div>
        <div class="div1">
            Food truck sunt fugiat, dolor ea selfies pop-up chambray duis master cleanse flexitarian raw denim. Scenester brunch try-hard, craft beer tempor post-ironic aliquip pariatur Wes Anderson. Elit Odd Future mixtape nesciunt. Disrupt anim non paleo readymade, kogi whatever aliquip aute do bicycle rights veniam art party Intelligentsia. Butcher pug esse, Brooklyn kitsch Vice bitters Truffaut. You probably haven't heard of them hashtag roof party, Godard anim slow-carb trust fund retro. Truffaut post-ironic McSweeney's nisi swag, et esse gentrify flexitarian sed incididunt chillwave.
        </div>
        <p>using clear</p>
        <div class="div4">
            <h4>Div4</h4>
            PBR&amp;B nostrud plaid qui squid nulla. Flannel officia eiusmod Austin you probably haven't heard of them 90's Pinterest fixie keytar art party, nulla post-ironic stumptown cardigan. Reprehenderit distillery aliqua, forage quinoa selfies consectetur biodiesel High Life. Placeat mixtape organic irony, 8-bit mlkshk meggings trust fund fashion axe keffiyeh. Labore placeat meh, cillum vegan chambray chia vero Schlitz leggings. Adipisicing fugiat nulla locavore, Shoreditch selfies Austin proident tousled roof party laboris scenester put a bird on it XOXO Brooklyn. Pinterest proident fingerstache messenger bag photo booth.
        </div>
        <div class="div3">
            <h4>Div3</h4>
            Food truck sunt fugiat, dolor ea selfies pop-up chambray duis master cleanse flexitarian raw denim. Scenester brunch try-hard, craft beer tempor post-ironic aliquip pariatur Wes Anderson. Elit Odd Future mixtape nesciunt. Disrupt anim non paleo readymade, kogi whatever aliquip aute do bicycle rights veniam art party Intelligentsia. Butcher pug esse, Brooklyn kitsch Vice bitters Truffaut. You probably haven't heard of them hashtag roof party, Godard anim slow-carb trust fund retro. Truffaut post-ironic McSweeney's nisi swag, et esse gentrify flexitarian sed incididunt chillwave.
        </div>
        <p>centering something</p>
        <div class="centering">
            Lo-fi umami vero, asymmetrical Banksy PBR&amp;B hella synth. Slow-carb twee art party direct trade sartorial, gastropub Terry Richardson aesthetic occupy in semiotics Austin. Put a bird on it disrupt selfies flannel Williamsburg stumptown. Readymade dolor you probably haven't heard of them, proident cray iPhone PBR&amp;B quis dreamcatcher sartorial wolf aute meh lomo. Kitsch sed chia officia. Forage aliqua dolore, PBR fingerstache flexitarian cillum semiotics. Cardigan pop-up messenger bag Wes Anderson, banh mi YOLO sint nisi McSweeney's sriracha.
        </div>
        <a href="/assets/classes/absolute_positioning.html">Absolute Positioning</a>
        <h2 id="1029">10/29/2013</h2>
        <a href="/assets/classes/1029/1029_notes.html">notes for 10/29/2013</a>
        <h2 id="1031">10/31/2013</h2>
        <a href="/assets/classes/1031/html5_notes.html">html 5 stuff</a>
        <br/>
        <br/>
    </body>
</html>
