<!DOCTYPE html>

<html>
    <head>
        <title>Class Notes</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/notes.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
        <script src="javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    </head>
    <body>
    	<h1>Class Notes</h1>
        <ul>
            <li>
                <a href="#108">Colors</a> Hexadecimal, RGB (Red,Green,Blue - the primary colors) - Ref: HFHTMLCSS ch.8
            </li>
            <li>
                <a href="/assets/classes/1010.html">10/10/2013</a> borders, margins, padding, divs, gradients (continuing from colors in previous class) - Ref: HFHTMLCSS ch.9
            </li>
            <li>
                <a href="/assets/classes/1017.html">10/17/2013</a> Divs Cont. width and height, background-image, rounded corners, text-align, id's, line-height - Ref: HFHTMLCSS ch.9 and 10
            </li>
            <li>
                <a href="/assets/classes/1022/1022.html">10/22/2013</a> spans, pseudo-classes - Ref: HFHTMLCSS ch.10
            </li>
            <li>
                <a href="/assets/classes/1024/1024.html">10/24/2013</a>layout, positioning, pseudo-classes, specificity - Ref: HFHTMLCSS ch.10 and 11
            </li>
            <li>
                <a href="/assets/classes/1029/1029_notes.html">10/29/2013</a>other positioning strategies - Ref: HFHTMLCSS ch. 11
            </li>
            <li>
                <a href="/assets/classes/1031/html5_notes.html">10/31/2013</a> HTML 5 elements and media queries - Ref: HFHTMLCSS ch.12 (end of ch.9 for media queries)
            </li>
            <li>
                <a href="/assets/classes/115/1152013.html">11/5/2013</a> absolute embedded within relative positioning and intro to javascript. Ref: HFHTML5 ch. 2
            </li>
            <li>
                <a href="/assets/classes/1112/11122013.html">11/12/2013</a> javascript dom - Ref: HFHTML ch. 2 + ch. 3
            </li>
            <li>
                <a href="/assets/classes/1114/11142013.html">11/14/2013</a>
                javascript dom cont. - Ref HFHTML ch. 2 p. 66
            </li>
            <li>
                <a href="/assets/classes/1119/1119.html">11/19/2013</a>
                location tracking- Ref HFHTML ch. 5
            </li>
            <li>
                <b>11/21/2013</b>
                javascript review
                <a href="/assets/classes/1121/change_btn_txt.html">changing the text in a button</a>
            </li>
            <li>
                <a href="/assets/classes/1126/1126.html">11/26/2013</a>
                example similar to assignment 4
            </li>   
        </ul>

    	<h2 id="108">10/8/2013</h2>
    	<p style="color: #0000ff;">colors</p>
    	<p style="color: #00ff00;">colors</p>
    	<p style="color: #ff0000;">colors</p>
    	<p style="color: rgb(0,0,255);">colors</p>
    	<p style="color: rgb(0,255,0);">colors</p>
    	<p style="color: rgb(255,0,0);">colors</p>
    	<hr/>
        <br/>
        <br/>
    </body>
</html>
