<!DOCTYPE html>

<html>
    <head>
        <title>Class Notes</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/notes.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
        <script src="javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    </head>
    <body>
    	<h1>Class Notes</h1>
        <ul>
            <li>
                <a href="#108">Colors</a> Hexadecimal, RGB (Red,Green,Blue - the primary colors) - Ref: HFHTMLCSS ch.8
            </li>
            <li>
                <a href="#1010">The Box Model</a> borders, margins, padding, divs, gradients (continuing from colors in previous class) - Ref: HFHTMLCSS ch.9
            </li>
            <li>
                <a href="#1017">Divs Cont.</a> width and height, background-image, rounded corners, text-align, id's, line-height - Ref: HFHTMLCSS ch.9 and 10
            </li>
        </ul>

    	<h2 id="108">10/8/2013</h2>
    	<p style="color: #0000ff;">colors</p>
    	<p style="color: #00ff00;">colors</p>
    	<p style="color: #ff0000;">colors</p>
    	<p style="color: rgb(0,0,255);">colors</p>
    	<p style="color: rgb(0,255,0);">colors</p>
    	<p style="color: rgb(255,0,0);">colors</p>
    	<hr/>
    	<h2 id="1010">10/10/2013</h2>
    	<h4>borders</h4>
    	<p class="solid-border-blue">i have blue a border</p>
    	<p class="dotted-border-red">i have a border</p>
    	<p class="dotted-solid-border-green">i have a border</p>
    	<h4>Padding and Margins</h4>
    	<p class="solid-border-blue-padding">i have a padded border</p>
    	<p class="dotted-border-blue-margin">i have a margin border</p>
    	<h4>divs</h4>
    	<div class="solid-border-blue">
    		<p>i have a blue border</p>
    		<p>i have a blue border</p>
    	</div>
    	<h4>gradients</h4>
    	<div class="linearBg2">
    		<p>i have a blue border</p>
    		<p>i have a blue border</p>
    	</div>	
        <h2 id="1017">10/17/2013</h2>
    </body>
</html>
