<!DOCTYPE html>
<html>
	<body>
		<ol>
	      <li>From the <q>start</q> button, open up <code>FileZilla</code>.</li>
	      <li>In the <q>Local site:</q> window, enter the absolute path to the folder containing your <code>CIS228</code> folder.</li>
	      <li>In the <q>Host:</q> window, enter <q>air.lehman.edu</q>.</li>
	      <li>In the <q>Username:</q> window, enter your first name <q>.</q> your last name (all lower case).</li>
	      <li>In the <q>Password:</q> window, enter <q>art12345</q>.</li>
	      <li>Click the <q>Quickconnect</q> button.</li>
	      <li>
	        In the <q>Remote site:</q> window, navigate to the <code>Sites</code> folder.
	      </li>
	      <li>From the <q>View</q> menu (at the top), select <q>Synchronize browsing</q>.</li>
	      <li>Also from the <q>View</q> menu, select <q>Directory comparison</q> and <q>Enable</q>.</li>
	      <li>Right click on the <code>CIS228</code> (in the lower lefthand window) and select "Upload".</li>
	    </ol>
	</body>
<html>