<!DOCTYPE html>
<html>
	<body>
		<ol>
	      <li>From the <q>start</q> button, open up <code>FileZilla</code>.</li>
	      <li>In the <q>Local site:</q> window, enter the absolute path to the folder containing your <code>CIS228</code> folder.</li>
	      <li>In the <q>Host:</q> window, enter <q>ec2-54-204-159-148.compute-1.amazonaws.com</q>.</li>
	      <li>In the <q>Username:</q> window, enter your first name (all lower case).</li>
	      <li>In the <q>Password:</q> window, enter your given password.</li>
	      <li>Click the <q>Quickconnect</q> button. Any files you place in your root directory will be displayed in http://ec2-54-204-159-148.compute-1.amazonaws.com/fall2013/[your first name] </li>
	    </ol>
	    <p>For example, If I upload index.html into my root directory (josh), I will be able to view the file on the web at http://ec2-54-204-159-148.compute-1.amazonaws.com/fall2013/josh/index.html
	</body>
<html>